body{
    margin:0;
    border:0;
}
.parent3{
    width: 1366px;
    height:1368px;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid grey;
    filter: blur(8px);
}
.Navi{
    background: white;
    height:80px;
    width: 1366px;
    border: 1px white solid;
    box-sizing:border-box;
    box-shadow: 3px, 3px, 30px #7B7B7B29;
}
h1{
    width:196px;
    height:40px;
    margin-top: 20px;
    margin-left: 137px;
    font-size: 40px;
    font-weight: bold;
}
span{
    color: #00a5ec;
}
form{
    margin-top: 20px;
    margin-left: 30px;
}
.ll{
    text-decoration: line-through;
    font-size: 20px;
    color: grey;
}
.sl{
    font-size: 20px;
}
.container4{
    margin-top: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    background: whitesmoke;
    height: 1000px;
    position: relative;
}
.anchor4{
    margin-left: 435px;
    text-decoration: none;
    font-size: 15px;
    color: #424242;
    position: relative;
    top: 50px;
}
.plus{
    width: 40px;
    height: 40px;
    color: #FFFFFF;
    border: 1px grey;
    border-radius: 50%;
    background-color:#00a5ec;
}
.anchor3{
    margin-left:270px;
    text-decoration: none;
    color: #424242;
    position: relative;
    top: 50px;
}
.child6{
    width: 500px;
    height: 368px;
    border:1px #EDEDED solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #67676729;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    opacity: 100%;
    margin-top: 90px;
    margin-left:433px;
}
.para1{
    margin-left:183px;
    color: #00a5ec;
    font-size: 24px;
}
.parent4{
    width: 500px;
    height:250px;
    border:1px #EDEDED solid;
    border-radius: 10px;
    box-shadow: 0 0 20px #67676729;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    opacity: 100%;
    margin: auto;
    position: relative;
    margin-top: -1200px;
}
.container6{
    display: flex;
    justify-content: space-between;
}
.add{
    margin-top: 10px;
    margin-left: 20px;
}
.close{
    margin-top: 24px;
    margin-right: 20px;
}
.cross{
    background: none;
    border: 0px;
}
.learn{
    font-size: 15px;
    width: 440px;
    height: 30px;
    background: whitesmoke;
    border-radius: 5px;
    padding-left: 10px;
    border: 1px solid grey;
}
form{
    margin-top: 20px;
    margin-left: 30px;
}
.icon2{
    width: 180px;
    height: 48px;
    margin-top: 60px;
    margin-left:350px;
}
.butt{
    background: #00a5ec;
    border-radius: 4px;
    color: white;
    font-size: 17px;
    padding:5px 10px 5px 10px;
    border: 1px white;
    
}